<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Quick Tally</div>
      <div class="item item-body">
        <div>
          <span class="badge badge-assertive">25</span>
          <button-bar>
            <a class="button">+1</a>
            <a class="button">-1</a>
          </button-bar>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Detailed Tally</div>
      <div class="item item-body">
        <ul class="list">
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Hopps
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Lola
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Rosie
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Bannana
          </li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
